<<<<<<< HEAD
.states-container {
    gap: 20px;
    font-size: 2em;
    font-family: sans-serif;
}

.states-input-container {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
}

.states-input {
    width: 30%;
    font-size: 1em;
}

.states-substring {
    margin-left: 20px;
}

.states-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.states-list-item {
    background-color: #C9C9C9;
    padding: 20px;
    border-radius: 8px;
}
=======
/*
CSS for the Project 4, Problem 2 States component

Since CSS uses a global name space for classes we should use names starting with
states- here.
*/
>>>>>>> a85479c3c4657b224a84881d7acf30dcfb5696c1
